/* Search Container Styles */
.tt-search-container {
    background: linear-gradient(45deg, #523f66, #2575fc);
    
    
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
    max-width: 100%;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: all 0.3s ease;
  }
  
  .tt-search-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  }
  
  /* Heading Style */
  .tt-heading {
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    width: 100%; /* Ensure it takes full width */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  /* Form styling */
  .tt-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; /* Make sure the form stretches across */
    gap: 20px;
  }
  
  /* Input Group Styling */
  .tt-input-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 180px; /* Minimum width to ensure they stay aligned */
    transition: all 0.3s ease;
  }
  
  .tt-input-group:hover {
    transform: scale(1.02);
  }
  
  /* Input field styling */
  .tt-input-field {
    padding: 15px 0px ;
    border-radius: 12px;
    border: 1px solid #ddd;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
    outline: none;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }
  
  .tt-input-field:focus {
    border-color: #4f83cc;
    box-shadow: 0 0 0 3px rgba(79, 131, 204, 0.2);
  }
  
  .tt-input-field::placeholder {
    color: #888;
  }
  
  /* Label styling */
  .tt-label {
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 6px;
  }
  
  /* Button styling */
  .tt-button {
    padding: 16px 30px;
    background-color: #4f83cc;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 12px;
    letter-spacing: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%; /* Make the button span the width of the container */
    margin-top: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }
  
  .search-icon{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin: 0 auto;
  }
  
  .tt-button:hover {
    background-color: #2575fc;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }
  
  .tt-button:active {
    background-color: #1f64e4;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
  }
  
  /* Responsive Design for smaller screens */
  @media screen and (max-width: 768px) {
    .tt-search-container {
      flex-direction: column;
      gap: 15px;
    }
  
    .tt-form {
      flex-direction: column;
    }
  
    .tt-input-group {
      min-width: 100%; /* Make each input field take full width on smaller screens */
    }
  
    .tt-button {
      width: 100%;
    }
  }
  